/* Importation des couleurs globales */
@import url('global.css');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, var(--background-color), #e0f7f4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Header */
header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header > .card {
    width: 47%;
}

header h1 {
    font-size: 20px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px var(--shadow-color);
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-text-color);
}

.card i {
    font-size: 20px;
    color: rgb(0, 153, 0);
   padding: 25px;
   border-radius: 50%;
   background-color: rgba(0, 255, 98, 0.199);
   margin-bottom: 1.3rem;
}

.card p {
    font-size: 14px;
    color: var(--secondary-text-color);
}
