

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f2f3f2, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
}
.content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-button {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

.header h1 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

/* Main Content */
.question {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.prompt {
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

/* Toggle Buttons */
.toggle-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.3s ease;
}

.toggle-button.active {
    background-color: #4caf50;
    color: #fff;
}

/* Human Body Image */
.body-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Search Bar */
.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #666;
}

.search-bar i {
    font-size: 18px;
    color: #888;
    margin-left: 10px;
}
.medics-container {
    margin-top: 50%;
    width: 200px; /* Ajuste la taille selon tes besoins */
    height: 200px; /* Doit être égal à la largeur pour garder la forme ronde */
    border-radius: 50%; /* Rend le conteneur rond */
    overflow: hidden; /* Cache les parties de l'image qui débordent */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2ffea; /* Couleur de fond, optionnel */
}

.medics-container img {
    max-width: 50%; /* Ajuste la taille de l'image */
    max-height: 50%; /* Ajuste la taille de l'image */
}

.question{
    margin-top: 10%;
}

.button-section{
    margin-bottom: 800%;
}


.btn-ajouter-medicaments {
    background-color: #00c087;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    margin-top: 5%;
}

.btn-ajouter-medicaments:hover {
    background-color: #009e6e;
}

